<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzForm.io</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styling/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
</head>

<body>

    <div class="main">
        <!-- Main Parent Flex Box -->
        <div class="main_header_tab_flexP">

            <div>
                <div class="main_header_tab_flexC1">
                    <img alt="logo_top_left" loading="lazy" src="{{ url_for('static', filename='asset/top_left_logo_.png') }}" class="img" />
                </div>
            </div>

            <div>
                <!-- Child 2 - EzForm.io title  -->
                <div class="main_header_tab_flexC2">
                    <div class="div-5">EzForm.io</div>
                </div>
            </div>

            <!-- Child 3 - export button  -->
            <div class="main_header_tab_flexC3">
                <div>
                    <button id="export-button" class="exports-box-text">Export to Excel</button>
                </div>
                <div class="settings_logo">
                    <img alt="logo" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c315f4b32699a06b94dc8336ef6a5e714131e62344ccb9887717ef8ee603e85e?" class="img-2" />
                </div>

                <!--  Change of Theme in WebPage -->
                <div class="toggle-bar">
                    <label class="switch">
                        <input id="dark_mode_toggle" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>

    <!-- <h1>Select a Model</h1> -->
<form action="{{ url_for('select_model') }}" method="POST">
    <label for="model">Choose a model:</label>
    <select id="model" name="model">
        {% for model in prebuilt_models %}
        <option value="{{ model }}" {% if model == currentModel %}selected{% endif %}>{{ model }}</option>
        {% endfor %}
    </select>
    <button type="submit">Select Model</button>
</form>

        <div class="div-8" id="drop-area">
            <span style="color: rgba(195, 195, 195, 1)">
                <p>Drag and Drop or Click Here to Select Files</p>
                <form id="file-form" action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="myFile" name="file" required>
                    <label for="myFile">Choose a File </label>
                    <div class="file-name">
                        <span id="file-name">No File Chosen</span>
                    </div>
                    <div class="upload-button">
                        <input type="submit" value="UPLOAD" id="upload_form">
                    </div>
                </form>
            </span>
        </div>
    </div>

</body>

</html>
